* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  background-color: white;
}
#text {
  text-align: center;
}
#author {
  align-self: flex-end;
  padding: 10px;
}

#new-quote {
  align-self: flex-end;
}

.links a {
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
button {
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}